package components

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Title</title>
			<meta name="description" content="Signing Site"/>
			<meta name="author" content="IktaS"/>
			<!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
		</head>
		<body>
			<div>Hello, World</div>
		</body>
	</html>
}
