package components

templ SignFile() {
	<figure>
		<img
			src="img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
			alt="Minimal landscape"
		/>
		<figcaption>
			Image from
			<a href="https://unsplash.com/photos/a562ZEFKW8I" target="_blank">unsplash.com</a>
		</figcaption>
	</figure>
}
